@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App,
.Container,
.text-container,
.author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Container {
  min-height: 70vh;
  width: 75%;
  margin: 2rem;
  background-color: #61dafb;
  border-radius: 5vh;
}
.upper-line {
  padding: 1rem 4rem;
  width: 90%;
  margin-bottom: 4rem;
}
.text-container {
  min-height: 25rem;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
}
.author-container {
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
}
.down-line {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.quote-btn {
  font-family: "Indie Flower", cursive;
  cursor: pointer;
  font-weight: 900;
  font-size: 2rem;
  border-radius: 5vh;
  border: none;
  padding: 1rem 2rem;
  background-color: #61dafb;
  border: 0.5rem solid #282c34;
  transition-duration: 200ms;
}
.quote-btn:hover {
  background-color: #282c34;
  color: #61dafb;
}
.tweet-link {
  padding: 1rem;
  font-size: 3rem;
  color: #282c34;
  font-weight: 900;
  text-decoration: none;
  transition-duration: 200ms;
  border: 0.5rem solid #282c34;
  border-radius: 25px;
}
.tweet-link:hover {
  color: white;
}
@media (max-width: 400px) {
  :root {
    font-size: 10px;
  }
  .down-line {
    flex-direction: column;
  }
  .text-container {
    margin: 2rem;
  }
  .upper-line {
    margin-bottom: 2rem;
  }
  .quote-btn {
    width: 100%;
    padding: 0.25rem 0.5rem;
    margin-bottom: 3rem;
  }
}
